SetEnv APPLICATION_ENV production

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

# Send version information in HTTP headers
<IfModule mod_headers.c>
Header add X-Software "Display UI Server/0.5.0-beta, Zend Framework/1.11.7"
</IfModule>